<h1>Home#show</h1>
<%= react_component("HelloWorld", { greeting: "Hello from react-rails." }, { prerender: true }) %>
<p>Find me in app/views/home/show.html.erb</p>

<%= link_to plain_turbo_example_path do -%>Plain Turbo Example (Using Server-side rendering)<%- end %>
<%= link_to turbo_react_example_path do -%>Turbo React Example (Using Event Bus)<%- end %>
