<h1>Turboreact#index</h1>
<p>Find me in app/views/turboreact/index.html.erb</p>

<%= react_component 'TurboExampleListData', { items: @items, prev: @prev, next: @next } %>

<div class="" data-turbolinks-permanent="true">
  <%= react_component 'TurboExampleList' %>
</div>
